# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Optional npm or yarn assets
.npm
.yarn-tarball.tgz
.yarn-integrity

# TEMP & Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.svelte-kit/

# Firebase & Build Local logs
.firebase/
build_error.log
